<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/boostrap.min.css" />
</head>
<body>

	<div class="container text-center">
		<div>
			<h1>Welcome to user home page</h1>
		</div>
		<div>
			<h3><a th:href="@{/list_users}">List All Users</a></h3>
			<h3><a th:href="@{/register}">Register</a></h3>
			<h3><a th:href="@{/login}">Login</a></h3>	<!-- This will be provided by spring security-->
		</div>
	</div>
</body>
</html>