<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- This meta tag will make the page responsive on different devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>

	<div class="container-fuild text-center">
		<div>
			<img class="img-fluid" th:src="@{images/login.png}" style="height: 10%; width: 10%; margin-top: 2%;"/>
		</div>
		<div>
			<form th:action="@{/login}" method="post" style="max-width: 350px; margin:0 auto;">

				<div th:if="${param.error}">
            		<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
				</div>
				
				<div th:if="${param.logout}">
            		<p class="text-warning">You have been logged out.</p>
        		</div>

				<div class="border border-secondary p-3 rounded">
            		<p>Access to Shopme Control Panel</p>
					
					<p>
                		<input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
            		</p>
					
					<p>
                		<input type="password" name="password" class="form-control" placeholder="Password" required />
            		</p>
			
					<p>
						Remember Me
                		<input type="checkbox" name="remember-me" style="margin-left:5px;"/>
           		 	</p>
			
					<p>
                		<input type="submit" value="Login" class="btn btn-primary" />
            		</p>
				</div>
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form>
		</div>
	</div>
</body>
</html>