<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
	<style type="text/css">
    	label {
        	display: inline-block;
        	width: 200px;
        	margin: 5px;
        	text-align: left;
    	}
    	input[type=text], input[type=password], select {
        	display: inline-block;
        	width: 200px;
    	}
    	button {
        	padding: 5px;
        	margin: 10px;
    	}
	</style>

</head>
<body>

	<div class="container" align="center">
		<div align="center" style="margin: 5% 0%;">
			<h1>User Registration - Sign Up</h1>
		</div>
			<form th:action="@{/process_register}" method="post" th:object="${user}">
				<div>
					<div class="form-group row">
						<label>E-mail</label>
						<input type="email" class="form-control" th:field="*{email}" required
								minlength="5" maxlength="50"/><br/>

						<label>Password</label>
						<input type="password" class="form-control" th:field="*{password}" required 
								minlength="8" maxlength="64"/><br/>

						<label>First Name</label>
						<input type="text" class="form-control" th:field="*{first_name}" required 
								minlength="3" maxlength="20"/><br/>

						<label>Last Name</label>
						<input type="text" class="form-control" th:field="*{last_name}" required 
								minlength="2" maxlength="20"/><br/>
					</div>
					<div style="margin-top: 2%;">
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</div>
				</div>
			</form>
		<div>

		</div>
	</div>
</body>
</html>